*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Align navbar items properly */
.navbar-nav {
    display: flex;
    align-items: center;
  }
  
  /* Buttons with capsule shape */
  .btn-capsule {
    border-radius: 30px; /* Makes buttons round */
    padding: 8px 20px; /* Adds padding for a better capsule shape */
    font-weight: bold;
   
  }
  
  /* Button Colors */
  .btn-outline-primary {
    border: 1px solid black; /* Add border for the outline button */
    color:black; /* Primary color for text */
    background-color: transparent;
    color: #fff;
  }
  
  .btn-outline-primary:hover {
    background-color:gray;
    color: #fff;
  }
  
  .btn-primary {
    background-color:black;
    color: #fff;
    border: none;
       
      
  }
  
  .btn-primary:hover {
    background-color:gray;
    color: #fff;
  }
  
  /* Space between the right-side items */
  .navbar-nav.ms-auto li {
    margin-left: 10px;
  }
  